* {
  margin: 0;
  font-family: 'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #333;
}

.body {
  background-color: black;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: forestgreen;
  text-shadow: 1px 1px black;
  font-size: xx-large;
  text-align: left;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration-line: none;
  padding: 6px;
}

.navbar a:hover {
  color: forestgreen;
}

.content {
  max-width: 800px;
  margin: 5px auto;
  padding: 5px;
}